.WholePage{
    background-color: rgb(221, 221, 220);
     padding-bottom: 25px;
}
.inquiry-hero {
  background-image: url("../../assets/images/Inquiry.jpg"); /* change image path */
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

.inquiry-overlay {
  background-color: rgba(0, 0, 0, 0.45); /* blackish opacity */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inquiry-heading {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* Form Section */
.inquiry-form-container {
  max-width: 900px;
  background: #fff;
  padding: 30px;
  margin-top: -60px;
  /* margin-bottom: 20px; */
  /* box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* border-radius: 20px; */
}

/* Button */
.inquiry-btn {
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 7px;
  background-color: orangered;
  border: none;
}
.text-center
{
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
}
.inquiryPara
{
    color: White;
    font-size: 18px;
    width: 55vw;
}

.inquiry-btn:hover{
    background-color: #a82f03;
}
.Form.Label
{
    font-weight: 900;
}
@media (max-width: 768px) {
  .inquiry-hero {
    height: 260px;
  }
  .inquiry-heading {
    font-size: 30px;
  }
  .inquiryPara{
    width: 100%;
  }
  .formDiv{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.WholePage{
  overflow: hidden;
}